<table class="table">
  <thead>
    <tr>
      <th>Airline</th>
      <th>Departure date</th>
      <th>Arrival date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each this}}
    <tr>
      <td>
        {{airline.name}}
      </td>
      <td>
        {{> search_result_date start.dateTime }}
      </td>
      <td>
        {{> search_result_date finish.dateTime }}
      </td>
      <td>
        <a class="button is-success">
          {{formatNumber price style="currency" currency="AUD"}}
        </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
